---
layout: default
---

<div class="home">
  <div id="welcome">
    <h1 class="page-heading">Welcome to our user documentation!</h1>

    <p>If you're new to <a href="https://www.freistilbox.com/">freistilbox</a>, you probably want to know <a href="/getting_started/">How to Get Started</a>.</p>
    <p>After you've familiarised yourself a bit with the basics, you should learn <a href="/how_it_works/">How freistilbox Works</a>. It'll help you be more productive.</p>
    <p>And if you encounter any problems or have a question that isn't answered in these docs, get in touch with our friendly <a href="/faq/support">Tech Support</a>!</p>
  </div>

  <div id="changelog">
    <h2 class="page-heading">Recent updates</h2>
    <ul class="post-list">
      {% for post in site.posts limit:3 %}
      <div>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <p class="post-title">
          <a class="post-link" href="{{ post.url }}">{{ post.title | escape }}</a>
        </p>
      </div>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" }}">via RSS</a></p>
  </div>
</div>
