header {
  margin: 2em 0;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-end);

  .title {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }

  .st-default-search-input {
    margin: 0;
  }
}
