@charset "utf-8";
@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "freistilbox";

@import "partials/layout";
@import "partials/header";
@import "partials/footer";
@import "partials/highlight";

#sidebar {
  nav {
    ul {
      display: inline;
      font-size: 0.8em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

#content {
  ul {
    @extend %default-ul;
  }
  ol {
    @extend %default-ol;
  }
}

#related {
  margin-top: 2em;
  border: 1px solid #aaa;
  padding: 1em;
}

#breadcrumbs {
  padding: 0.5em 0 0.5em 0;
  font-size: 80%;
}

#feedback {
  margin-top: 1em;
  background-color: #eee;
  padding: 5px;
  font-size: 80%;
  text-align: center;

  p {
    margin: 0;
  }
}
