/*
   freistilbox CSS
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:100,300,normal,italic,bold,bolditalic);
@import url(http://fonts.googleapis.com/css?family=Asap:100,300,normal,italic,bold,bolditalic);


// Colors
$forest-green-dark: #238422;
$olive-drab: #80A834;

// Font Colors
$code-color: #000;
$code-background-color: #eee;

h1 {
  font-size: 200%;
  color: $forest-green-dark;
}

h2 {
  font-size: 150%;
  color: $forest-green-dark;
}

h3 {
  font-size: 120%;
}

a {
  color: $olive-drab;
}

img {
  max-width: 80%;
}

/* code blocks */

code {
  color: $code-color;
  background-color: $code-background-color;
}

pre {
  overflow: auto;
  width: 500px;
  padding: 6px;
  color: $code-color;
  background-color: $code-background-color;
  code {
    background: none;
  }
}

/* labels */

.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.important {
  @extend .label;
  background-color: #c43c35;
}
.warning {
  @extend .label;
  background-color: #f89406;
}
.success {
  @extend .label;
  background-color: #46a546;
}
.notice {
  @extend .label;
  background-color: #62cffc;
}

