<% related = related_pages(current_page.data.tags) %>
<% unless related.empty? %>
  <div class="related">
    <strong>Related articles:</strong>
    <ul>
    <% related.each do |r| %>
      <li><%= link_to r.data.title, r.url %></li>
    <% end %>
    </ul>
  </div>
<% end %>

