<div id="sidebar">
  <nav>
  <ul>
    <li><%= link_to "Home", "/index.html" %></li>
    <li><%= link_to "Getting Started", "/getting_started/index.html" %></li>
    <li><%= link_to "Advanced Usage", "/advanced_usage/index.html" %></li>
    <li><%= link_to "Tech FAQ", "/tech_faq/index.html" %></li>
  </ul>
  </nav>
</div>
